.Logo{
    cursor: pointer;
}

#navbarDrop{
    color: rgb(255, 255, 255);
    
}
.navbar{
    background-color: #317773;
    position: sticky;
}
.dropdown-item, .dropdown-menu{
    background-color: #c0cb59 !important;
    color:white !important;

}
.nav-link{
    padding-bottom: 100px;
}

.nav-link:hover{
    text-decoration: underline;
    text-decoration-color:rgb(220, 192, 140) ;
}
.dropdown-item:hover{
    font-weight: bold;
    
}