.contact-block {
    position: relative;
  }
  
  .contact-block .row {
    margin: 0 0 25px;
  }
  
  .contact-block .btn-holder {
    text-align: center;
  }
  
  .contact-block .contact-form {
    margin: 0 0 60px;
  }
  
  .contact-block iframe {
    border: 0;
    width: 100%;
    height: 450px;
  }
  
  .contact-block .contact-info {
    padding: 70px 40px 0;
    position: relative;
    z-index: 1;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .contact-block .contact-info ul {
    text-align: center;
  }
  
  .contact-block .contact-info li {
    display: inline-block;
    vertical-align: top;
    width: 32%;
  }
  
  .contact-block .contact-info .fas {
    display: block;
    font-size: 40px;
    margin: 0 0 15px;
    color: #f64b4b;
  }